language: node_js

node_js:
  - "stable"

services:
  - postgresql

cache:
  directories:
  - node_modules

before_script:
  - psql -c 'create database travis_ci_test;' -U postgres
  
script:
  - cd client
  - npm test
  - npm run build
