.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 3em;
}

.searchContainer {
  display: flex;
}

.input {
  width: 500px;
  height: 70px;
  font-size: 28px;

  text-align: center;
}

.section {
  margin-top: 1cm;
}

.body {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-centered {
  text-align: center;
}

.orderTitle {
  width: 1200px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.confirm_button {
  margin-top: 30px;
  margin-bottom: 30px;
}

.creditcards {
  margin-top: 20px;
  margin-bottom: 20px;
}

.paymentOption {
  text-align: center;
  align-items: center;
  text-justify: center;
}

.addButton {
  margin-top: 35px;
}

.rewardPointContainer {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-between;
  margin-top: 20px;
  width: 250px;
}

.orderTable {
  text-align: center;
}

.errorFoodList {
  text-align: center;
}

.rewardPointInput {
  margin-left: 20px;
  width: 80px;
}

.rewardPointTitle {
  width: 120px;
}

.paymentCostContainer {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-between;
  margin-top: 20px;
  width: 250px;
}

.totalCostContainer {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-between;
  margin-top: 20px;
  width: 250px;
}

.promoDiscountContainer {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-between;
  margin-top: 20px;
  width: 250px;
}

.deliveryFeeContainer {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-between;
  margin-top: 20px;
  width: 250px;
}

.deliveryLocation {
  margin-top: 20px;
}

.errorMessage {
  color: red;
}

.backIcon:hover {
  color: lightskyblue;
}

.backIcon {
  color: white;
  font-size: 22px;
}
