.completed-order-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 5em;
  margin-top: 5em;
}

.completed-order-list-title {
  text-align: center;
  width: 100%;
  margin-bottom: 1em;
}
