.content {
  justify-content: center;
  display: flex;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 3em;
}

.searchContainer {
  display: flex;
}

.input {
  width: 500px;
  height: 70px;
  font-size: 28px;

  text-align: center;
}

.section {
  margin-top: 1cm;
}

body {
  margin: 0;
  padding: 0;
}

.header-centered {
  text-align: center;
}

.restItem {
  font-size: 28px;
}

.logoutIcon {
  font-size: 35px;
}

.logoutIcon :hover {
  color: lightblue;
}

.logoutContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.link {
  display: flex;
  margin-right: 10px;
  text-decoration: none;
}

.link:hover {
  color: lightblue;
  text-decoration: none;
}
