.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 3em;
}

.searchContainer {
  display: flex;
}

.input {
  width: 500px;
  height: 70px;
  font-size: 28px;

  text-align: center;
}

.section {
  margin-top: 1cm;
}

body {
  margin: 0;
  padding: 0;
}

.header-centered {
  text-align: center;
}

.foodList {
  align-items: center;
}

.separator {
  height: 30px;
}
