.h3 {
  font-family: Helvetica, Arial;
}

button {
  text-align: center;
  font-family: Helvetica, Arial;
  font-size: 18px;
  padding: 1em;
  margin: 0.5em;
  background: #78c5ef;
  border-color: #78c5ef;
  width: 50%;
}

button:hover {
  color: #ffffff !important;
  background: #51a0d5;
  font-style: italic;
  border-color: #51a0d5 !important;
  border-radius: 8px;
  transition: all 0.4s ease 0s;
}

.row {
  display: flex;
  font-family: Helvetica, Arial;
  font-size: 18px;
  width: 80%;
  /* Vertical alignment */
  align-items: center;
  /* Horizontal alignment */
  justify-content: center;

  padding: 1em;

  margin-left: 4em;
  margin-right: 4em;
  margin-bottom: 1em;
  word-wrap: break-word;
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: 0px 0px 5px 1px rgba(143, 143, 143, 1);
}

.row:hover {
  color: #ffffff !important;
  background: #51a0d5;
  border-color: #51a0d5 !important;
  border-radius: 8px;
  transition: all 0.4s ease 0s;
}

.row h3 {
  width: 50%;
  padding-left: 1em;
}

.row p {
  width: 50%;
  text-align: center;
  padding-right: 1em;
}
